<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div  th:fragment="nav">
        <!-- header section strats -->
        <header class="header_section">
          <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
              <a class="navbar-brand" href="index.html">
                <span>
                  Shopping Phúc
                </span>
              </a>
    
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class=""> </span>
              </button>
    
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav text-dark ">
                  <li th:class="nav-item" th:classappend="${active eq 'index'} ? 'active' : ''">
                    <a class="nav-link" th:href="@{/home}">index</a>
                  </li>

                  <li th:class="nav-item" th:classappend="${active eq 'about'} ? 'active' : ''">
                    <a class="nav-link" th:href="@{/about}">about</a>
                  </li>


                  <li th:class="nav-item" th:classappend="${active eq 'product'} ? 'active' : ''">
                    <a class="nav-link" th:href="@{/product}">product</a>
                  </li>
                  <li th:class="nav-item" th:classappend="${active eq 'testimonial'} ? 'active' : ''">
                    <a class="nav-link" th:href="@{/testimonial}">testimonial</a>
                  </li>
                  <li th:class="nav-item" th:classappend="${active eq 'contact'} ? 'active' : ''">
                    <a class="nav-link" th:href="@{/contact}">ContactUs</a>
                  </li>
                </ul>
                <div class="user_optio_box">
                  <div class="dropdown">
                    <a href="#" id="userDropdown" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item m-0" th:href="@{/login}" th:unless="${session.user}">Đăng nhập</a>
                        <a class="dropdown-item m-0" th:href="@{/register}" th:unless="${session.user}">Đăng ký</a>
                      <a class="dropdown-item m-0" th:href="@{/logout}" th:if="${session.user}">Đăng xuất</a>
                      <a class="dropdown-item m-0" th:href="@{/account}" th:if="${session.user}">Thông tin cá nhân</a>
                      <a class="dropdown-item m-0" th:href="@{/admin/ManagerProduct}" th:if="${session.user != null and session.user.admin}">ManagerProduct</a>

                    </div>
                  <a href="/cart/view">

                    <button type="button" class="btn btn-primary position-relative">
                      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" th:text="${CountCart}">
    99+
    <span class="visually-hidden">unread messages</span>
  </span>
                    </button>
                  </a>
                </div>
              </div>
              </div>
            </nav>
          </div>
        </header>
        <!-- end header section -->

         <!-- end slider section -->
      </div>
      
    
</body>
</html>