<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org" xmlns:layout="" layout:decorate="~{client/clientLayout}" xmlns:sec>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body layout:fragment="content">

     <div class="row">
          <div class="col-3 ">
              <div class="input-group justify-content-center">
                  <form th:action="@{/product}" method="get" class="form-inline">
                      <div class="form-outline">
                          <input type="search" th:name="keywords" id="keywords" th:value="${kw}" class="form-control" placeholder="Enter keywords">
                      </div>
                      <button type="submit" class="btn btn-primary ml-2">
                          Filter
                      </button>
                  </form>
              </div>


          </div>

         <div class="col-9">
             <div class="row r g-3 mx-2">
                 <div class="col-3 mt-2"  th:each="item : ${page.content}">
                     <div class="card">
                         <img class="card-img-top " style="height: 270px;object-fit: cover" th:if="${item.image != null}" th:src="@{'/uploads/products/' + ${item.image}}" alt="Product Image" />
                         <img class="card-img-top " style="height: 270px;object-fit: cover" th:unless="${item.image != null}" src="https://png.pngtree.com/png-vector/20190820/ourmid/pngtree-no-image-vector-illustration-isolated-png-image_1694547.jpg" alt="Default Image" />
                         <div class="card-body">
                             <h5 class="card-title" th:text="${item.title}">Card title</h5>
                             <p class="card-text" th:text="${item.description}">
                                 ádfghjk
                             </p>
                             <p class="card-text" th:text="${item.price}">
                                 $19.99
                             </p>
                             <form th:action="@{/cart/add/{id}(id=${item.id})}" method="get">
                                 <input type="hidden" name="id" th:value="${item.id}"/>
                                 <button type="submit" class="btn btn-primary">Add To Cart</button>
                             </form>
                         </div>
                     </div>
                 </div>
             </div>
             <!-- Thymeleaf template for pagination -->
             <div th:if="${page.totalPages > 1}">
                 <ul class="pagination">
                     <li th:class="${page.number == 0} ? 'page-item disabled' : 'page-item'">
                         <a class="page-link" th:href="@{'/product?keywords=' + ${keywords} + '&amp;p=0'}">First</a>
                     </li>
                     <li th:class="${page.number == 0} ? 'page-item disabled' : 'page-item'">
                         <a class="page-link" th:href="@{'/product?keywords=' + ${keywords} + '&amp;p=' + ${page.number - 1}}">Previous</a>
                     </li>
                     <li th:each="pageNum : ${#numbers.sequence(0, page.totalPages - 1)}" th:class="${page.number == pageNum} ? 'page-item active' : 'page-item'">
                         <a class="page-link" th:href="@{'/product?keywords=' + ${keywords} + '&amp;p=' + ${pageNum}} " th:text="${pageNum + 1}"></a>
                     </li>
                     <li th:class="${page.number == page.totalPages - 1} ? 'page-item disabled' : 'page-item'">
                         <a class="page-link" th:href="@{'/product?keywords=' + ${keywords} + '&amp;p=' + ${page.number + 1}}">Next</a>
                     </li>
                     <li th:class="${page.number == page.totalPages - 1} ? 'page-item disabled' : 'page-item'">
                         <a class="page-link" th:href="@{'/product?keywords=' + ${keywords} + '&amp;p=' + ${page.totalPages - 1}}">Last</a>
                     </li>
                 </ul>
             </div>


         </div>
     </div>



</body>
</html>