<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="slider_section">
<section class="slider_section p-3">
    <div class="slider_bg_box">
        <img width="100%" th:src="@{/images/slider-bg.jpg}" alt="Slider Background">
    </div>
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="detail-box">
                                <h1>
                                    Stylish Watches
                                </h1>
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus quidem maiores perspiciatis, illo maxime voluptatem a itaque suscipit.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Đăng Nhập
                                    </a>
                                    <a href="" class="btn2">
                                        Đăng Kí
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="detail-box">
                                <h1>
                                    Stylish Watches
                                </h1>
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus quidem maiores perspiciatis, illo maxime voluptatem a itaque suscipit.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Đăng Nhập
                                    </a>
                                    <a href="" class="btn2">
                                        Đăng kí
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="detail-box">
                                <h1>
                                    Stylish Watches
                                </h1>
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus quidem maiores perspiciatis, illo maxime voluptatem a itaque suscipit.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Đăng Nhập
                                    </a>
                                    <a href="" class="btn2">
                                        Đăng kí
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="detail-box">
                                <h1>
                                    Stylish Watches
                                </h1>
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus quidem maiores perspiciatis, illo maxime voluptatem a itaque suscipit.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Đăng Nhập
                                    </a>
                                    <a href="" class="btn2">
                                        Đăng kí
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="detail-box">
                                <h1>
                                    Stylish Watches
                                </h1>
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus quidem maiores perspiciatis, illo maxime voluptatem a itaque suscipit.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Đăng Nhập
                                    </a>
                                    <a href="" class="btn2">
                                        Đăng kí
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ol class="carousel-indicators">
            <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
            <li data-target="#customCarousel1" data-slide-to="1"></li>
            <li data-target="#customCarousel1" data-slide-to="2"></li>
            <li data-target="#customCarousel1" data-slide-to="3"></li>
            <li data-target="#customCarousel1" data-slide-to="4"></li>
        </ol>
    </div>
</section>
</body>
</html>